<!-- NAVBAR -->
    <nav class="navbar" id="navbar">
        <div class="max-width">
            <div class="logo">
                <a href="#">Weather<span> App</span></a>
            </div>
            <ul class="menu">
                <li><a href="/home" class="menu-btn">Home</a></li>
                <li><a href="/about" class="menu-btn">About</a></li>
                <li><a href="/weather" class="menu-btn">Weather</a></li>
                <li><a href="/contact" class="menu-btn">Contact</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>